/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1 {
  font-family: 'Lato', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
}
b {
  font-weight: bold;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 1.25rem 0;
}
header a {
  font-size: 1rem;
}
@media (max-width: 500px) {
  header {
    justify-content: center;
  }
}
header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding: 0.9375rem;
}
.profile {
  background: #e9ecef;
  border-radius: 2px;
}
.profile img {
  height: 12.5rem;
  width: 12.5rem;
  margin: 2.5rem 0 0.625rem 1.25rem;
}
.profile .top-profile h1 {
  font-size: 2.5rem;
  margin-left: 1.25rem;
}
.profile .top-profile p {
  font-size: 1.063rem;
  margin: 0.9375rem 1.25rem;
  padding-bottom: 0.9375rem;
  border-bottom: 1px solid grey;
}
.profile .bot-profile {
  margin-left: 1.25rem;
  padding-bottom: 3.125rem;
}
.profile .bot-profile p {
  font-size: 0.8125rem;
  margin-right: 0.625rem;
}
.profile button {
  margin: 1.25rem 0 0 0;
  border: 1px solid darkgrey;
  background: darkgray;
  color: white;
  padding: 0.4375rem 0.625rem;
  border-radius: 6px;
  font-size: 0.9375rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .profile {
    text-align: center;
  }
}
.middle {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 0;
}
.middle .listen {
  width: 50%;
}
.middle .listen h1 {
  font-size: 1.563rem;
  margin-bottom: 0.625rem;
}
.middle .listen p {
  font-size: 0.75rem;
  padding-right: 1.25rem;
  line-height: 150%;
}
.middle .stuff {
  width: 50%;
}
.middle .stuff h1 {
  font-size: 1.563rem;
  margin-bottom: 0.625rem;
}
.middle .stuff .good {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9ecef;
  width: 18.75rem;
  font-size: 0.75rem;
}
.middle .stuff .good .disc-golf {
  border-bottom: 1px solid #e9ecef;
  padding: 0.625rem;
}
.middle .stuff .good .coding {
  border-bottom: 1px solid #e9ecef;
  padding: 0.625rem;
}
.middle .stuff .good .games {
  border-bottom: 1px solid #e9ecef;
  padding: 0.625rem;
}
.middle .stuff .good .bootstrap {
  border-bottom: 1px solid #e9ecef;
  padding: 0.625rem;
}
.middle .stuff .good .naps {
  padding: 0.625rem;
}
@media (max-width: 500px) {
  .middle {
    flex-direction: column;
    align-content: center;
  }
  .middle .stuff {
    margin-top: 0.9375rem;
  }
  .middle .stuff .good {
    width: 11rem;
  }
}
.history .history h1 {
  font-size: 1.25rem;
}
.history table {
  margin-top: 0.625rem;
  border-top: 1px solid #e9ecef;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;
}
.history table,
.history th,
.history td {
  vertical-align: middle;
  border-bottom: 1px solid #e9ecef;
  border: colapse;
  height: 1.875rem;
  text-align: left;
  padding-left: 1.25rem;
}
.history tr:nth-child(even) {
  background-color: #f2f2f2;
}
@media (max-width: 500px) {
  .history {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .history table {
    align-content: center;
    width: 100%;
  }
}
footer {
  background: darkgrey;
  text-align: center;
  padding: 1.563rem 0px;
  margin: 1.25rem 0;
  font-size: 0.75rem;
  color: white;
}
