/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
header a {
  text-decoration: none;
  color: black;
  padding: 15px;
}
.profile {
  background: #e9ecef;
  border-radius: 2px;
}
img {
  height: 200px;
  width: 200px;
  margin: 40px 0 10px 20px;
}
.top-profile h1 {
  font-size: 40px;
  margin-left: 20px;
}
.top-profile p {
  font-size: 17px;
  margin: 15px 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}
.bot-profile {
  margin-left: 20px;
  padding-bottom: 50px;
}
.bot-profile p {
  font-size: 13px;
}
button {
  margin: 20px 0 0 0;
  border: 1px solid darkgrey;
  background: darkgray;
  color: white;
  padding: 7px 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.middle {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.listen {
  width: 50%;
}
.listen h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.listen p {
  font-size: 15px;
  padding-right: 20px;
}
.stuff {
  width: 50%;
}
.stuff h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.good {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9ecef;
  width: 300px;
  font-size: 12px;
}
.disc-golf {
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
}
.coding {
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
}
.games {
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
}
.bootstrap {
  border-bottom: 1px solid #e9ecef;
  padding: 10px;
}
.naps {
  padding: 10px;
}
.history h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
table {
  border-top: 1px solid #e9ecef;
  border-collapse: collapse;
  width: 600px;
  font-size: 12px;
}
table,
th,
td {
  vertical-align: middle;
  border-bottom: 1px solid #e9ecef;
  border: colapse;
  height: 30px;
  text-align: left;
  padding-left: 20px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer {
  background: darkgrey;
  text-align: center;
  padding: 25px 0px;
  margin: 20px 0;
  font-size: 12px;
  color: white;
}
